/*category_item*/
.category_item{background: rgb(245,245,245);}
.category_item .main{height:614px;}
.category_item .main .content{width: 1226px;height: 300px;}
.category_item .main .content:nth-of-type(2){margin-top: 14px;}
.category_item .main  .hot{width:234px;height: 300px;margin-right: 10px; margin-bottom:10px; position:relative;background: #fff;}
.category_item .main  .hot:hover{ box-shadow: 0px 0px 30px #ccc;}
/* 
.category_item .main  .hot:nth-of-type(5){margin:0;} */
.category_item .main  .hot .xinpin span{
    display: block;
    margin:0 auto;
    font-size: 10px;
    line-height:20px;
    height: 20px;
    color:#fff;
    width: 65px;
    background: #83c44e;
    text-align: center;
}
.category_item .main  .hot .xinpin span.nohot{
    background:#fff
}
.category_item .main  .hot .tu a img{margin:10px 42px 20px 42px;}
.category_item .main  .hot .miaoshu{width: 234px;height: 25px;line-height: 25px;text-align: center;overflow: hidden;}
.category_item .main  .hot .miaoshu a{color:#000;font-size: 14px;}
.category_item .main  .hot .jiage{color:#ff6700;font-size: 14px;text-align:center;width: 234px;height: 25px;line-height: 25px;}
.category_item .main  .hot .pingjia{width:234px;height: 15px;line-height: 15px;font-size: 12px;color:#aaa;text-align: center;}
.category_item .main  .hot .piao{width: 204px;height: 60px;font-size:12px;padding:10px 0px 0px 30px;background:#ff6700; position: absolute;display: none;}
.category_item .main  .hot .piao a{color:#fff;}
.category_item .main  .hot .piao span{display: block;margin-top:5px;}
.category_item .main  .hot:hover .piao{display: block;margin-top: -40px;}
.category_item .main  .hotlast{width:234px;height: 300px;}
/*手机*/
.category_item .main .category_item_left{
	float: left;
	width:234px;
}
.category_item .main .category_item_left img{
	width:234px;

}

.category_item .main .category_item_right{
	float: right;
	width:978px;
}
.hongmi:hover{margin-top: -2px;box-shadow: 0px 0px 15px #ccc;}
.liulangengduo{margin-top: 12px;}
.liulangengduo:hover{margin-top: 10px;box-shadow: 0px 0px 30px #ccc;}